@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Syne';
    box-sizing: border-box;
}

header {
    background-image: url(../assets/couple1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 5px;
    border-radius: 12px;
    height: 565px;
}

.logo {
    height: 40.8px;
}

.nav {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 5% 0 2%;
    flex-wrap: wrap;
}

nav a {
    margin: 20px;
    line-height: 24px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.4s;
}

nav a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #ffffff;
    transition: all 0.4s;
}

nav a:hover::before {
    width: 100%;
    left: 0;
}

.umow-rozmowe-btn {
    width: 197.9px;
    height: 48.4px;
    border-radius: 100px;
    border: none;
    background-color: #997663;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.umow-rozmowe-btn2 {
    width: 48.45px;
    height: 48.45px;
    background-color: #997663;
    border-radius: 50%;
    border: none;
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 4.5rem;
    letter-spacing: -2px;
    margin-top: 20px;
}

.header-btn {
    width: 236.8px;
    height: 66.9px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.header-tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 90%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.najnowsze-wpisy-p {
    width: 100%;
    margin-bottom: -20px;
    font-size: 20px;
    font-weight: 400;
    color: #2D1E20;
    font-family: 'Poppins';
}

section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
    height: auto;
    gap: 30px;
}

article {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 250px;
}

h3 {
    color: #2D1E20;
    font-weight: 400;
    font-size: 30px;
}

.line {
    width: 1px;
    height: 550px;
    background-color: rgba(153, 118, 99, 0.5);
    margin: 0 30px;
}

article button {
    margin-top: 40px;
    height: 59.1px;
    width: 154.3px;
    border-radius: 100px;
    border: solid 1px #2D1E20;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    color: #2D1E20;
}

hr {
    width: 100%;
    max-width: 1570px;
    background-color: rgba(153, 118, 99, 0.5);
}

.pasek {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5%;
}

.pasek p {
    font-family: 'Open Sans';
    color: #2D1E20;
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
}

.pasek img {
    margin: 20px;
    max-width: 100px;
    height: auto;
}

@media screen and (max-width: 1440px) {
    h1 {
        font-size: 4rem;
    }
}
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3.5rem;
    }

    nav {
        padding: 0;
    }

    section {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
    }
    article{
        align-items: center;
    }
    article img{
        width: 400px;
    }
    hr{
        margin-top: 40px;
    }
    .line{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .nav {
        display: none;
        margin-left: 0;
        flex-direction: column;
    }

    .nav.open {
        display: flex;
    }

    .nav a {
        font-size: 25px;
    }

    .header-tekst.open2 {
        display: none;
    }

    #menu {
        display: flex;
        width: 50px;
        margin-left: 150px;
        filter: invert(1);
    }

    #close {
        margin-left: 50px;
        width: 35px;
        filter: invert(1);
    }

    .umow-rozmowe {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .umow-rozmowe-btn {
        display: none;
    }

    .header-tekst {
        padding: 0;
    }

  

    .line {
        height: 3px;
        width: 80%;
        margin: 60px 0;
    }

    hr {
        width: 80%;
    }

    .pasek img,
    .pasek p {
        margin: 15px;
    }

    .najnowsze-wpisy-p {
        width: 90%;
    }

    h1 {
        text-align: center;
        font-size: 55px;
    }

    .header-btn {
        height: 60px;
        width: 200px;
    }
}
@media screen and (max-width: 425px) {
    h1 {
        font-size: 40px;
    }

    header {
        height: auto;
        min-height: 550px;
    }

    nav {
        padding: 30px 15px 0 15px;
        flex-wrap: wrap;
    }

    .logo {
        height: 35px;
    }

    .nav {
        margin-top: 30px;
        width: 100%;
        order: 3;
        align-items: center;
    }

    .nav a {
        font-size: 20px;
        margin: 8px 0;
        width: 100%;
    }

    .umow-rozmowe {
        flex-direction: row;
        gap: 8px;
        order: 2;
    }

    .umow-rozmowe-btn2 {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .umow-rozmowe-btn2 img {
        width: 12px;
    }

    #menu {
        width: 30px;
        height: 30px;
        margin-left: 0;
    }

    #close {
        width: 25px;
        height: 25px;
        margin-left: 0;
    }

    .header-tekst {
        margin-top: 40px;
    }

    .header-btn {
        height: 50px;
        width: 180px;
    }

    .najnowsze-wpisy-p {
        width: 100%;
        padding: 0 15px;
    }

    article {
        align-items: center;
    }

    article img {
        width: 80%;
        max-width: 300px;
    }

    article h3 {
        font-size: 23px;
        text-align: center;
    }

    .line {
        width: 300px;
    }

    hr {
        width: 300px;
    }

    .pasek p,
    .pasek img {
        margin: 8px;
    }

    section {
        height: auto;
        min-height: 1600px;
    }
}
