@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

* {
    font-family: 'Syne';
    box-sizing: border-box;
}

header {
    background-image: url(../assets/couple9.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 5px;
    border-radius: 12px;
    height: 565px;
}

.logo {
    height: 40.8px;
}

.nav {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 5% 0 2%;
    flex-wrap: wrap;
}

nav a {
    margin: 20px;
    line-height: 24px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.4s;
}

nav a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #ffffff;
    transition: all 0.4s;
}

nav a:hover::before {
    width: 100%;
    left: 0;
}

.umow-rozmowe-btn {
    width: 197.9px;
    height: 48.4px;
    border-radius: 100px;
    border: none;
    background-color: #997663;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.umow-rozmowe-btn2 {
    width: 48.45px;
    height: 48.45px;
    background-color: #997663;
    border-radius: 50%;
    border: none;
}

h1 {
    margin-top: 0;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 4.5rem;
    letter-spacing: -2px;
}

.header-btn {
    width: 236.8px;
    height: 66.9px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.header-tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pakiety{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1896px;
    border-radius: 12px;
    padding: 120px;
    color: #2D1E20;
    background-color: #E5E5E5;
}

.pakiety h2{
    text-align: center;
    margin: 0;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -2%;
    color: #2D1E20;
}
.articles{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}
article{
    background-color: #DFDFDE;
    border-radius: 12px 40px 12px 40px;
    height: 790px;
    width: 492px;
    padding: 40px;
}
.p1{
    margin-top: 5px;
    font-weight: 500; 
    font-size: 18px;
}
.span1{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
}
content{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
}
.co-zawiera{
    display: flex;
    align-items: flex-start;
    font-size: 20px;
}
.co-zawiera img{
    height: 30.7px;
    width: 30.7px;
    margin: -3px 20px 20px 0;
}
.co-zawiera p{
    margin: 0;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 1.2;
}
.p2{
    margin: 0 0 20px 0;
    font-family: 'Cormorant Garamond'; 
    font-size: 20px;
}
.span2{
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 42px;
}
.article-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

.btn1, .btn2{
    width: 409px;
    height: 70.5px; 
    border-radius: 100px;
    font-weight: 500;
    font-size: 20.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1{
    margin-top: 40px;
    background-color: white;
    border: none;
}
.btn2{
    background-color: transparent;
    border: 1.5px solid black; 
}

.pakiety2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 1558px;
    color: #997663;
}
.articles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pakiet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}
.info{
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 50px;
}
h3{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
}
.hr{
    border: none; 
    height: 1px; 
    width: 100%; 
    background-color: #997663;
}
.pakiet-btn{
    height: 66px;
    width: 236px;   
    border: none;
    border-radius: 100px;
    background-color: #997663;
    color: white;
    font-size: 18px;
}
.konsultacje{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-image: url(../assets/background.png);
    background-position: center;
    height: 820px;
    width: 100%;
    max-width: 1896px;
    border-radius: 12px;
}
.info2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: white;
    height: 480px;
    max-width: 1563px;
}
.info2 p{
    color: #997663;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 5%;
}
.info2 h2{
    margin: 0;
    color: #2D1E20;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: -2%;
}
.info2 img{
    width: 120%;
    height: auto;
}
.left{
    margin-left: 80px;
}
.right{
    padding-right: 100px;
}
.konsultacje-btn{
    margin-top: 50px;
}
.konsultacje-btn1{
    height: 67px;
    width: 364px;
    border: none;
    border-radius: 100px;
    background-color: #2D1E20;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}
.konsultacje-btn2{
    margin-left: 15px;
    height: 67px;
    width: 284px;
    border: 1px solid #2D1E20;
    border-radius: 100px;
    background-color: white;
    color: #2D1E20;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}
#menu, #close {
    display: none;
}
@media screen and (max-width: 1440px){
    h1{font-size: 3.8rem;}
}
@media screen and (max-width: 1024px){
    .info2 h2{font-size: 50px;}
    .info2 img{width: 160%;}
     h1{font-size: 3.2rem;}
    nav{padding: 0;}
}

@media screen and (max-width: 768px) {
    .nav { display: none;  flex-direction: column;}
    .nav.open { display: flex; }
    .nav a { font-size: 25px; }
    .header-tekst.open2 { display: none; }
    #menu {display: flex; width: 50px; filter: invert(1); }
    #close { width: 35px; filter: invert(1); }
    .umow-rozmowe { display: flex; flex-direction: column; align-items: flex-end;}
    .umow-rozmowe-btn { display: none; }
    h1 { text-align: center; font-size: 3.2rem;}
    .header-btn { height: 60px; width: 200px; }
    .pakiety2{width: 100%;}
    .articles {display: flex; align-items: center; flex-direction: column;}
    article{width: 100%; height: 100%;}
    .info{gap: 30px;}
    .info, .pakiet{flex-direction: column;}
    h3{font-size: 30px;}
    .info2{flex-direction: column-reverse; width: 100%; height: 60%;}
    .info2 h2{font-size: 50px;}
    .info2 img{margin: 0; width: 80%;}
    .left{margin-left: 20px;}
    .right{padding-right: 0;}
    .konsultacje-btn{margin: 0;}
    .konsultacje-btn2{margin: 15px 0;}
    
}

@media screen and (max-width: 425px) {
    h1 { font-size: 1.8rem; }
    header { height: auto; min-height: 550px; }
    nav { padding: 30px 15px 0 15px; flex-wrap: wrap; }
    .logo { height: 35px; }
    .nav { margin-top: 30px; width: 100%; order: 3; align-items: center; }
    .nav a { font-size: 20px; margin: 8px 0; width: 100%; }
    .umow-rozmowe { flex-direction: row; gap: 8px; order: 2; }
    .umow-rozmowe-btn2 { width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; }
    .umow-rozmowe-btn2 img { width: 12px; }
    #menu { width: 30px; height: 30px; margin-left: 0; }
    #close { width: 25px; height: 25px; margin-left: 0; }
    .header-tekst { margin-top: 40px; }
    .header-btn { height: 50px; width: 180px; }
    .btn1, .btn2{width: 100%}
    .info2 h2{font-size: 2rem;}
    .info2 img{width: 50%; padding-top: 20px;}
}

@media screen and (max-width: 375px){
    h1{font-size: 35px;}
    .info2 h2{font-size: 30px;}
    .konsultacje-btn1{width: 100%;}
}
