@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Syne';
}

header {
    background-image: url(couple1.png);
    background-position: center;
    background-size: cover;
    margin: 10px 5px;
    border-radius: 10px;
    height: 550px;
}

.logo {
    height: 40.8px;
}

.nav {
    margin-left: 90px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 0 50px;
}

nav a {
    margin: 20px;
    line-height: 24px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.4s;
}

nav a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #ffffff;
    transition: all 0.4s;
}

nav a:hover::before {
    width: 100%;
    left: 0;
}

.umow-rozmowe-btn {
    width: 197.9px;
    height: 48.4px;
    border-radius: 100px;
    border: none;
    background-color: #997663;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.umow-rozmowe-btn2 {
    width: 48.45px;
    height: 48.45px;
    background-color: #997663;
    border-radius: 50%;
    border: none;
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 72px;
    letter-spacing: -2px;
    margin-top: 20px;
}
.header-btn{
    width: 236.8px;
    height: 66.9px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}
.header-tekst{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 95px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
section{
    display: flex;
    margin-top: 80px;
    width: 1564.7px;
    height: 627.2px;
}
article{
    display: flex;
    flex-direction: column;
}
h3{
    color: #2D1E20;
    font-weight: 400;
    font-size: 30px;
}
.line{
    width: 1px;
    height: 550px;
    background-color: rgba(153, 118, 99, 0.5);
    margin: 0 30px;
}
article button{
    margin-top: 40px;
    height: 59.1px;
    width: 154.3px;
    border-radius: 100px;
    border: solid 1px #2D1E20;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    color: #2D1E20;
}
hr{
    width: 1570px;
     background-color: rgba(153, 118, 99, 0.5);
}