@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

* {
    font-family: 'Syne';
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #333;
}


header {
    background-image: url(hero-specjalisci.png);
    background-size: cover;
    margin: 10px 5px;
    border-radius: 12px;
    height: 565px;
}

.logo {
    height: 40.8px;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 5% 0 5%;
    flex-wrap: wrap;
}

nav a {
    margin: 20px;
    line-height: 24px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.4s;
}

nav a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #ffffff;
    transition: all 0.4s;
}

nav a:hover::before {
    width: 100%;
    left: 0;
}

.umow-rozmowe-btn {
    width: 197.9px;
    height: 48.4px;
    border-radius: 100px;
    border: none;
    background-color: #997663;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.umow-rozmowe-btn2 {
    width: 48.45px;
    height: 48.45px;
    background-color: #997663;
    border-radius: 50%;
    border: none;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 72px;
    letter-spacing: -2px;
    margin-top: 20px;
}

.header-btn {
    width: 236.8px;
    height: 66.9px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.header-tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}

.profile-section {
    background-color: white;
    padding: 100px 0;
}

.profile-section.gray {
    background-color: #E5E5E5;
    border-radius: 16px;
    padding: 100px 0;
}

.profile-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
}

.profile-content.reverse {
    flex-direction: row-reverse;
}

.text-box {
   width: 650px;
}

.text-box h2 {
    font-size: 50px;
    margin-bottom: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
}

.text-box p {
    font-family: 'Poppins', sa;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
    font-weight: 400;

}

.image-box {
    display: flex;
    justify-content: center;
}

.image-box img {
    width: 624px;
    height: 745.44px;
    object-fit: cover;
}
.social-icons{
    margin-top: 80px;
}
.social-icons a{
    margin-right: 5px;
}
.social-icons a:hover {
    color: #d63384;
}
#menu, #close {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav { display: none; margin-left: 0; flex-direction: column; }
    .nav.open { display: flex; }
    .nav a { font-size: 25px; }
    .header-tekst.open2 { display: none; }
    #menu { display: flex; width: 50px; margin-left: 150px; filter: invert(1); }
    #close { margin-left: 50px; width: 35px; filter: invert(1); }
    .umow-rozmowe { display: flex; flex-direction: column; align-items: flex-end; }
    .umow-rozmowe-btn { display: none; }
    .header-tekst { padding: 0; }
    h1 { text-align: center; font-size: 55px; }
    .header-btn { height: 60px; width: 200px; }
}

@media screen and (max-width: 425px) {
    h1 { font-size: 40px; }
    header { height: auto; min-height: 550px; }
    nav { padding: 30px 15px 0 15px; flex-wrap: wrap; }
    .logo { height: 35px; }
    .nav { margin-top: 30px; width: 100%; order: 3; align-items: center; }
    .nav a { font-size: 20px; margin: 8px 0; width: 100%; }
    .umow-rozmowe { flex-direction: row; gap: 8px; order: 2; }
    .umow-rozmowe-btn2 { width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; }
    .umow-rozmowe-btn2 img { width: 12px; }
    #menu { width: 30px; height: 30px; margin-left: 0; }
    #close { width: 25px; height: 25px; margin-left: 0; }
    .header-tekst { margin-top: 40px; }
    .header-btn { height: 50px; width: 180px; }
}

@media (max-width: 900px) {
    .profile-content {
        flex-direction: column;
        text-align: center;
    }

    .image-box img {
        max-width: 250px;
    }
}